@model HackThon.Models.House

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/styleAdvert.css" asp-append-version="true" />

<hr />
<div class="mainContainier">
    <form asp-action="Create">
      <div class="aQQ">
        <a href="index.html"> < Back </a>
      </div>
      <div class="d1">
        <h2>Describe in detail</h2>
        <p>Specify the name.</p>
        <input asp-for="HouseName" type="text" placeholder="For example, my house">
      </div>
      <div class="d1 dd2">
        <h2>Photo</h2>
        <p>The first photo will be on the cover of the ad. Drag and drop to change the order of photos.</p>
            <input asp-for="HouseImg" type="text" placeholder="link">
      </div>
      <div class="d1">
            <h2>House Area</h2>
            <p>Write the area of the city.</p>
            <input asp-for="HouseArea" class="form-control" placeholder="Kosice - Zapad" />
      </div>
        <div class="d1 dd2">
            <h2>House Rent Price</h2>
            <p>Specify the rent price of the house.</p>
            <input asp-for="HouseRentPrice" class="form-control" placeholder="99 999" />
        </div>
        <div class="d1">
            <h2>House Square</h2>
            <p>Specify the house square.</p>
            <input asp-for="HouseSquare" class="form-control" placeholder="140" />
        </div>
        <div class="d1 dd2">
            <h2>House Rent Type</h2>
            <p>Specify the house rent type | for example: Rent/Buy.</p>
            <input asp-for="HouseRentType" type="text" placeholder="Rent">
        </div>
        <div class="d1">
            <h2>House Price</h2>
            <p>Specify the price of the house.</p>
            <input asp-for="HousePrice" type="text" placeholder="99 999">
        </div>
        <div class="d1 dd2">
            <h2>House Street</h2>
            <p>Specify the house street.</p>
            <input asp-for="HouseStreet" type="text" placeholder="Name street">
        </div>
        <div class="d1 ">
            <h2>House Number</h2>
            <p>Specify the house number | for example: 1.</p>
            <input asp-for="HouseNumber" type="text" placeholder="1">
        </div>
        <div class="d1 dd2">
            <h2>House Type</h2>
            <p>Specify the house type | for example: flat.</p>
            <input asp-for="HouseType" type="text" placeholder="flat">
        </div>
        <div class="d1 ">
            <h2>House Room Count</h2>
            <p>Specify the house room count | for example: 1.</p>
            <input asp-for="HouseRoomCount" type="text" placeholder="3">
        </div>

        <div class="form-group bbttnn">
            <input type="submit" value="Create" class="btn btn-primary " />
        </div>
    </form>
</div>